* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a111e;
  color: #eee;
}

body,
input,
button {
  font-family: roboto, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > div {
  padding: 2rem;
}

input,
button {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

